@import url('https://fonts.googleapis.com/css2?family=Martel&family=Roboto&display=swap');
p, h1, h2, h3 {
    color: #262626;
    text-align: center;
}
p {
    font-size: 14;
}
body {
    background-color: #ffffdf;
}
li {
    color: #262626;
    font-size: 14;
}
.martel {
    font-family: 'Martel', serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
img, ul, li {
    align-content: center;
    text-align: center;
    float: center;
}
