@import url('https://fonts.googleapis.com/css2?family=Martel&family=Roboto&display=swap');
p, h1, h2, h3 {
    color: #262626;
    text-align: center;
}
p {
    font-size: 14;
}
body {
    background-color: #ffffdf;
    text-align: center;
}
li {
    color: #262626;
    font-size: 14;
}
.martel {
    font-family: 'Martel', serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
li, ul {
    text-align: left;
}
a { /*default state*/
    color: blue;
}
a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:focus {
    color: currentColor;
}
a:hover {
    color: currentColor;
}
a:active {
    color: deepskyblue;
}